@import "tailwindcss";

@theme {
  --font-serif: var(--font-instrument-serif);
  --font-sans: var(--font-inter);
  
  --color-background: #f4f1ea;
  --color-foreground: #18181b;

  --animate-spin-slow: spin 8s linear infinite;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-inter);
  background: var(--color-background);
  color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-instrument-serif);
}

.bg-paper-pattern {
  background-image: radial-gradient(#00000005 1px, transparent 1px);
  background-size: 20px 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
  
  .bg-paper-pattern {
    background-image: radial-gradient(#ffffff05 1px, transparent 1px);
  }
}
